.navbar{
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
    z-index: 1;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navbar-left img{
    width: 90px;
}
.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar-left ul li{
    cursor: pointer;
}
.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    border-radius: 4px;
    width: 35px;
}
.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 19px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}
.navbar-profile:hover .dropdown{
    display: block;
}
.nav-dark{
    background: #141414;
}




.search-form {
    display: flex;
    align-items: center;
    background-color: #222;
    border-radius: 5px;
    padding: 5px;
  }
  
  .search-input {
    background: transparent;
    border: none;
    color: white;
    padding: 5px;
    outline: none;
    width: 150px;
  }
  
  .search-btn {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .search-results {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    width: 300px;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
  }
  
  .search-item {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #333;
  }
  
  .search-item img {
    width: 50px;
    margin-right: 10px;
  }
  